* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #222;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-content {
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.turn {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e68900;
}

.winning-cell {
    background: #4caf50 !important;
}